<div class="taskList">
    <div>
        <button type="button" class="button btn-primary">All</button>
        <button type="button" class="button btn-primary">Complete</button>
        <button type="button" class="button btn-primary">Incomplete</button>


    </div>
    <div >
         <table class="table">
                   <tbody>
                       <tr  >
                           <td  ><span class="span1"> <input type="checkbox" name="check" id="check"> 1: call car insurance</span><span class="span2">Due:oct22 </span> 
                           
                           
                               <button type="button" id="editBtn" class="btn btn-light" > <i id="edit" class="fa fa-pencil-square-o">Edit</i></button>
                               <button type="button" class="btn btn-danger"><i id="del" class="fa fa-trash-o "></i>Remove</button>
                            </td>
                            
                          
                       </tr>
                       <tr  >
                           <td  ><span class="span1"> <input type="checkbox" name="check" id="check"> 2: call car insurance</span><span class="span2">Due:oct22 </span> 
                           
                           
                               <button type="button" id="editBtn" class="btn btn-light" > <i id="edit" class="fa fa-pencil-square-o">Edit</i></button>
                               <button type="button" class="btn btn-danger"><i id="del" class="fa fa-trash-o "></i>Remove</button>
                            </td>
                            
                          
                       </tr>
                       <tr  >
                           <td  ><span class="span1"> <input type="checkbox" name="check" id="check"> 3: call car insurance</span><span class="span2">Due:oct22 </span> 
                           
                           
                               <button type="button" id="editBtn" class="btn btn-light" > <i id="edit" class="fa fa-pencil-square-o">Edit</i></button>
                               <button type="button" class="btn btn-danger"><i id="del" class="fa fa-trash-o "></i>Remove</button>
                            </td>
                            
                          
                       </tr>
                       <tr  >
                           <td  ><span class="span1"> <input type="checkbox" name="check" id="check"> 4: call car insurance</span><span class="span2">Due:oct22 </span> 
                           
                           
                               <button type="button" id="editBtn" class="btn btn-light" > <i  class="fa fa-pencil-square-o">Edit</i></button>
                               <button type="button" class="btn btn-danger"><i  class="fa fa-trash-o "></i>Remove</button>
                            </td>
                            
                          
                       </tr>
                       
                   </tbody>
               </table>

    </div>
</div>